.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include disflex(flex, center, center);
    z-index: 4;
&.show {
     animation: bg 0.2s linear 0s 1 normal forwards;
@keyframes bg {
    0% {
        background: rgba(25, 25, 33, 0);
    }
    100% {
        background: rgba(25, 25, 33, 0.5);
    }
}
}
&__content {
     background: white;
     width: 100%;
     box-shadow: 0 0 20px rgba(132, 134, 176, 0.08);
     border-radius: 12px;
     z-index: 4;
     max-height: 100vh;
     overflow-y: auto;
     overflow-x: hidden;
     max-width: 400px;
@media screen and (max-width: 400px) {
    border-radius: 0;
    height: 100%;
}
.modal__header {
    position: relative;
    background: #ffffff;
    box-shadow: 0 1px 20px rgba(132, 134, 176, 0.08);
    height: 72px;
    @include disflex(flex, center, center);
@media screen and (max-width: 1920px) {
    @include adaptive-elem(height, 72, 52);
}

&__button {
     position: absolute;
     content: "";
     right: 16px;
     top: 50%;
     transform: translateY(-50%);
 }
}
.modal__body {
    height: 100%;
    padding: 46px 36px 0;
}
.modal__footer {
    padding: 30px 36px 36px;
span {
    margin: 0 6px 0 0;
}
.modal__reg {
@media screen and (max-width: 976px) {
    margin: 16px 0 0;
}
}
}
}
}