// black-group
$black: #191921;
$gray4: #5e6086;
$gray3: #8486b0;
$gray2: #b5b6d2;
$gray1: #e0e0f3;

// purpul-group
$purpul_d1: #690c81;
$purpul: #8b1aa7;
$purpul_l1: #b64cd0;
$purpul_l2: #f0e1f3;

// lilac-group
$lilac_d2: #0008a6;
$lilac_d1: #5530bf;
$lilac: #7355cc;
$lilac_l1: #8187ff;
$lilac_l2: #eaebff;

// red-group
$red: #f3000f;
$red1: #f9eaeb;

// blue-group
$blue_d1: #30aebf;
$blue: #2d1e57;

//backround
$bg: #f9f9f9;
