@import "fonts";
@import "null";
@import "colors";
@import "text";
@import "animate";
@import "modal";

.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  @media screen and (max-width: 976px) {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }
  .banner {
    max-width: 150px;
    height: fit-content;
    img {
      width: 100%;
    }
    @media screen and (max-width: 976px) {
      order: 2;
    }
    &:nth-last-child(1){
      @media screen and (max-width: 976px) {
       display: none;
      }
      &:last-child{
        justify-self: flex-end;
      }
    }
  }
}
