.text__big,
.text__h1,
.text__h2,
.text__h3,
.text__button {
  font-style: normal;
  font-weight: 600;
}

.text__button {
  @media screen and (max-width: 976px) {
    font-weight: 700;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.text__18,
.text__16,
.text__14,
.text__12,
.text__10,
.lesson__work__description {
  font-style: normal;
  font-weight: 400;
}

.text__big{
  font-size: 150px;
  line-height: 176px;
  &.adaptive {
    @media screen and (max-width: 1920px) {
      @include adaptiv-fontAll(150, 52);
      @include adaptive-elem(line-height, 176, 35);
    }
  }
}

.text__h1 {
  font-size: 34px;
  line-height: 46px;
  &.adaptive {
    @media screen and (max-width: 1920px) {
      @include adaptiv-fontAll(34, 26);
      @include adaptive-elem(line-height, 45, 35);
    }
  }
}

.text__h2 {
  font-size: 26px;
  line-height: 36px;
  &.adaptive {
    @media screen and (max-width: 1920px) {
      @include adaptiv-fontAll(26, 20);
      @include adaptive-elem(line-height, 36, 26);
    }
  }
}

.text__h3 {
  font-size: 20px;
  line-height: 26px;
}

.text__18 {
  font-size: 18px;
  line-height: 24px;
  &.adaptive {
    @media screen and (max-width: 1920px) {
      @include adaptiv-fontAll(18, 16);
      @include adaptive-elem(line-height, 24, 19);
    }
  }
}

.text__16 {
  font-size: 16px;
  line-height: 19px;
  &.adaptive {
    @media screen and (max-width: 1920px) {
      @include adaptiv-fontAll(16, 14);
      @include adaptive-elem(line-height, 17, 18);
    }
  }
}
.text__14,
.lesson__work__description {
  font-size: 14px;
  line-height: 17px;
  &.adaptive {
    @media screen and (max-width: 1920px) {
      @include adaptiv-fontAll(14, 12);
      @include adaptive-elem(line-height, 19, 14);
    }
  }
}
.text__12 {
  font-size: 12px;
  line-height: 14px;
  &.adaptive {
    @media screen and (max-width: 1920px) {
      @include adaptiv-fontAll(12, 10);
    }
  }
}

.text__10 {
  font-size: 10px;
  line-height: 14px;
}

.text__button {
  font-size: 16px;
  line-height: 20px;
  &.adaptive {
    @media screen and (max-width: 1920px) {
      @include adaptiv-fontAll(16, 14);
      @include adaptive-elem(line-height, 20, 17);
    }
  }
}

.text {
  &__black {
    color: $black;
  }
  &__liliac {
    color: $lilac;
  }
  &__liliac1 {
    color: $lilac_l1;
  }
  &__liliac_d1 {
    color: $lilac_d1;
  }
  &__liliac_l2 {
    color: $lilac_l2;
  }
  &__gray2 {
    color: $gray2;
  }
  &__gray3 {
    color: $gray3;
  }
  &__gray4 {
    color: $gray4;
  }
  &__purple {
    color: $purpul;
  }
  &__purple__d1 {
    color: $purpul_d1;
  }
  &__red {
    color: $red;
  }
}

li {
  list-style: outside;
  margin: 0 0 0 14px;
}
