<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="description"
      content="Сервис для проведения конкурсов и выбора победителей. Создавайте пароли
      и находите ответы на интересующие вас вопросы с помощью
      MyRando"
    />
    <meta name="yandex-verification" content="cc6caab8bcf28983" />
    <!--    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />-->
    <link rel="icon" href="./favicon.ico" />
    <!--    <title><%= htmlWebpackPlugin.options.title %></title>-->
    <title>MyRando</title>
<!--    <script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>-->
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/89676573"
          style="position: absolute; left: -9999px"
          alt=""
        /></div
    ></noscript>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1QZFDXKCXX"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-1QZFDXKCXX");
    </script>
  </head>
  <body>
    <div id="app"></div>
<!--    <div id="payment-form"></div>-->
  </body>
</html>
