<template>
  <div class="number banner__wrapper">
    <BannerLink
      link="https://clicks.affijet.com/click?offer_id=51&partner_id=1551&utm_medium=Affiliate&landing_id=68"
    />
    <div class="number__content">
      <div class="text__h3">Случайное число:</div>
      <div class="number__number">
        <transition name="text" mode="out-in">
          <h1
            v-if="!waitResponseGeneratorNumber"
            class="text__number"
            :class="{ length__40: String(generator_number.length) > 4 }"
          >
            {{ generator_number }}
          </h1>
        </transition>
        <Loader v-if="waitResponseGeneratorNumber" />
      </div>
      <ButtonLilac
        name="Сгенерировать"
        @click="checkAuthForCallBack(() => generatorNumber(generator_setup))"
      />
      <div class="number__range">
        <span>новую последовательность из</span>
        <IRange
          :max="200"
          :count="generator_setup.count"
          @newValue="(val) => (generator_setup.count = val)"
        />
        <span
          >{{ generator_setup.count }}
          {{ textNumber(generator_setup.count) }}</span
        >
      </div>
      <div
        style="margin: 24px 0 0"
        class="number__before__after text__14 text__black"
      >
        <div class="number__before__after__item">
          <span>от</span>
          <INumberSmall
            :value="String(generator_setup.from)"
            @customOnInput="(val) => (generator_setup.from = Number(val))"
          />
        </div>
        <div class="number__before__after__item">
          <span>до</span>
          <INumberSmall
            :value="String(generator_setup.to)"
            @customOnInput="(val) => (generator_setup.to = Number(val))"
          />
        </div>
      </div>
    </div>
    <BannerLink
      link="https://clicks.affijet.com/click?offer_id=51&partner_id=1551&utm_medium=Affiliate&landing_id=68"
    />
  </div>
</template>

<script>
import INumberSmall from "@/components/ui/input/INumberSmall";
import IRange from "@/components/ui/input/IRange";
import generatorNumber from "@/mixins/request/generator/generatorNumber";
import Loader from "@/components/Loader";
import checkAuthForCallBack from "@/mixins/checkAuthForCallBack";
import textNumerals from "@/mixins/textNumerals";
import BannerLink from "@/components/BannerLink";

export default {
  components: { BannerLink, Loader, IRange, INumberSmall },
  mixins: [generatorNumber, checkAuthForCallBack, textNumerals],
  data() {
    return {
      tabIsPressed: false,
    };
  },
  mounted() {
    this.getFirstNumber();
    window.addEventListener("keydown", this.first);
  },
  unmounted() {
    window.removeEventListener("keydown", this.first);
  },
  methods: {
    first(event) {
      if (this.AUTH) {
        if (event.code === "KeyR" && (event.ctrlKey || event.metaKey)) {
          event.preventDefault();
          this.generator_number = 0;
        }
      }
    },
    getFirstNumber() {
      const max = Number(this.generator_setup.from),
        min = Number(this.generator_setup.to);
      this.generator_number = Math.floor(min + Math.random() * (max + 1 - min));
    },
  },
};
</script>

<style lang="scss" scoped>
.number {
  &__content {
    @include disflex(flex, center, center);
    flex-direction: column;
  }

  &__number {
    margin: 36px 0;
    @include disflex(flex, center, center);
  }
  &__range {
    margin: 24px 0 0;
    @include disflex(flex, center, center);
    flex-direction: column;
    label {
      margin: 12px 0;
      max-width: 400px;
    }
  }
  &__radio {
    margin: 16px 0;
    @include disflex(flex, stretch, center);
  }
  &__before__after {
    @include disflex(flex, stretch, center);
    &__item {
      @include disflex(flex, stretch, center);
      span {
        margin: 0 14px 0 0;
      }
      &:first-child {
        margin: 0 8px 0 0;
      }
      label {
        max-width: 118px;
      }
    }
  }
}

.text__number {
  max-width: 400px;
  font-style: normal;
  font-weight: 600;
  font-size: 150px;
  line-height: 176px;
  @media screen and (max-width: 768px) {
    font-size: 52px;
    line-height: 35px;
  }

  &.length__40 {
    font-size: 40px;
    line-height: 52px;
    @media screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
</style>
