<template>
  <div class="offer">
    <div class="offer__content text__14 adaptive">
      <h1 class="text__h1">Правила и Условия</h1>
      <p>
        1. Основные понятия Пользователь – физическое лицо, посетитель сайта
        https://myrando.ru, принимающий условия пользовательского соглашения и
        желающий оформить заказ на сайте https://myrando.ru. Покупатель –
        пользователь, оформивший заказ на сайте https://myrando.ru с целью
        приобретения размещенных на сайте https://myrando.ru Продавец в России и
        остальных странах мира — Кауфман Наталья Андреевна, ИНН 190206188629 Тел
        +79955037330
      </p>
      <br />
      <p>
        Продавец не является плательщиком НДС в России. Продажа услуг
        осуществляется в режиме онлайн. Сайт – https://myrando.ru. Товар –
        услуги онлайн сервиса представленные к продаже на Сайте Продавца. Заказ
        – оформленный запрос через форму оплаты покупателем для приобретения и
        использования сервисов на сайте https://myrando.ru
        <br />
        2. Предмет соглашения
        <br />
        2.1. Продавец осуществляет продажу онлайн сервисов через
        интернет-магазин по адресу https://myrando.ru. <br />
        2.2. Заказывая сервис через сайт, пользователь соглашается с условиями
        продажи, изложенными ниже. В случае несогласия Пользователь обязан
        прекратить использование сервиса и покинуть сайт https://myrando.ru.
        <br />
        2.3. Настоящие условия продажи, а также информация о сервисе,
        представленная на сайте, являются публичной офертой. <br />
        2.4. Настоящие условия могут быть изменены Продавцом в одностороннем
        порядке без уведомления Пользователя/Покупателя. Новая редакция Условий
        вступает в силу с момента ее опубликования на сайте, если не будет
        предусмотрено иное. <br />
        2.5. Акцепт данной Оферты вступает в силу с момента отправки покупателю
        продавцом электронного подтверждения принятия заказа при оформлении
        покупателем заказа на сайте https://myrando.ru <br />
        2.6. Договор купли-продажи товара считается заключенным с момента выдачи
        продавцом покупателю фискального чека, подтверждающего оплату товара.
        <br />
        2.7. Сообщая продавцу свой e-mail покупатель дает согласие на
        использование указанных средств связи с продавцом, а также третьими
        лицами, привлекаемыми им для целей выполнения обязательств перед
        покупателем, в целях осуществления рассылок рекламного и информационного
        характера, содержащих информацию о скидках, предстоящих и действующих
        акциях и других мероприятиях продавца, а также иную информацию,
        непосредственно связанную с выполнением обязательств покупателем в
        рамках настоящей публичной оферты. <br />
        2.8. Сообщая продавцу и/или оплачивая ссылку на конкурсный пост
        покупатель дает согласие на использование материалов конкурсного поста
        (текс, фото/видео изображения) в маркетинговых целях (продвижение
        конкурсной страницы, публикация автоматических конкурсных подборок,
        почтовых рассылках и тд)
      </p>
      <br />
      <p>
        3. Товар и порядок совершения покупки <br />
        3.1. Продавец обеспечивает работоспособность сервисов, представленных на
        сайте. Для уточнения информации товару покупатель может обратиться в чат
        поддержки или по электронной почте написав письмо на
        myrando.sup@gmail.com. <br />
        3.2. Покупатель несет полную ответственность за предоставление неверных
        сведений, повлекшее за собой невозможность надлежащего исполнения
        продавцом своих обязательств перед покупателем.
      </p>
      <br />
      <p>
        4. Оплата Товара <br />
        4.1. Цена Товара указывается в рублях, евро или долларах США. <br />
        4.2. Цена Товара может быть изменена продавцом в одностороннем порядке.
        <br />
        4.3. Оплата производится онлайн в полностью автоматическом режиме через
        сторонний платежный терминал (Stripe, Yoomoney, Payanyway, Paypal,
        Qiwi).
      </p>
      <br />
      <p>
        5. Условия возврата <br />
        5.1. Продавец гарантирует полный возврат средств в случае невозможности
        предоставления услуги в полном объеме. <br />
        5.2. Продавец в праве отказать в возврате средств по объективным по его
        мнению причинам.
      </p>
      <br />
      <p>
        6. Отказ от исполнения договора Если по каким-либо причинам Вы решили
        отказаться от исполнения договора о выполнении работ (оказании услуг),
        то можете сделать это в соответствии с Законом РФ «О защите прав
        потребителей» от 07.02.1992 № 2300-1. Покупатель вправе расторгнуть
        договор о выполнении работы (оказании услуги) в любое время, уплатив
        исполнителю часть цены пропорционально части выполненной работы
        (оказанной услуги) до получения извещения о расторжении указанного
        договора и возместив исполнителю расходы, произведенные им до этого
        момента в целях исполнения договора, если они не входят в указанную
        часть цены работы (услуги). Покупатель при обнаружении недостатков
        оказанной услуги вправе по своему выбору потребовать: Безвозмездного
        устранения недостатков; Соответствующего уменьшения цены; Возмещения
        понесенных им расходов по устранению недостатков своими силами или
        третьими лицами; Покупатель вправе предъявлять требования, связанные с
        недостатками оказанной услуги, если они обнаружены в течение
        гарантийного срока, а при его отсутствии в разумный срок, в пределах
        двух лет со дня принятия оказанной услуги; При отказе от исполнения
        договора потребитель имеет право на возврат выплаченных исполнителю
        денежных сумм; Покупатель вправе потребовать также полного возмещения
        убытков, причиненных ему в связи с недостатками выполненной работы
        (оказанной услуги). Продавец отвечает за недостатки услуги, которые
        зависят от самого продавца;
      </p>
      <br />
      <p>
        7. Отказ от ответственности. Продавец никак не связан с организаторами
        конкурсов, не организует и не проводит никаких конкурсов и не несет
        никакой ответственности за содержимое публикаций, используемых
        Покупателем, условия проведения конкурсов, выполнение обещаний
        организаторов и тд. Все вопросы и претензии по поводу проведения
        розыгрышей и соблюдения условий необходимо направлять организатору
        (Покупателю). Услуга предоставляется «как есть». В случае возникновения
        проблем с услугой, работа которой основана на услугах третьей стороны
        (например, API Инстаграм или Фейсбук) и невозможностью ее исправить в
        разумные сроки — продавец не несёт никакой ответственности за
        последствия и неудобства связанные с использованием этой услуги.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Offer",
};
</script>

<style scoped lang="scss">
.offer {
  h1 {
    margin: 0 0 24px;
  }
}
</style>
