<template>
  <div>
    <div class="winner__link">
      <Form
        class="winner__link__item"
        :validation-schema="formWin"
        @submit="checkWinVk"
      >
        <div>
          <IBase
            :label="true"
            name="link"
            type="text"
            @eventInput="(val) => (formWinMain.link = val)"
            placeholder="Вставьте ссылку"
          />
          <div style="margin: 24px 0 0">
            <div class="accounts__exit">
              <div
                class="button__auth__vk"
                style="line-height: 24px"
                v-if="AUTH && !USER_IG?.id && !USER_VK?.id"
              >
                теперь необходимо авторизирвоаться
                <span class="button__vk" @click="getLinkVK">ВКонтакте</span> или
                в <span class="button__ig" @click="getLinkIG">Instagram</span>
              </div>
            </div>
            <div class="accounts__exit">
              <div v-if="AUTH && USER_VK?.id" class="account__vk">
                <img :src="USER_VK.photo_200_orig" alt="" />
                <span class="text__12"
                  >{{ USER_VK.first_name }} {{ USER_VK.last_name }}</span
                >
                <div
                  class="button__vk"
                  style="margin: 0 0 0 4px"
                  @click="logoutVK"
                >
                  Выход
                </div>
              </div>
              <div v-if="AUTH && USER_IG?.id" class="account__ig">
                <img :src="imageIgBase64(USER_IG.image_base64)" alt="avatar" />
                <span class="text__12">{{ USER_IG.userName }}</span>
                <div
                  class="button__ig"
                  style="margin: 0 0 0 4px"
                  @click="logoutIG"
                >
                  Выход
                </div>
              </div>
            </div>
          </div>
        </div>
        <ButtonLilac name="Старт" :disabled="waitResponseGeneratorVK" />
      </Form>
      <div class="winner__link__item">
        <div class="setup__input">
          <div class="setup__input__radio">
            <div class="setup__input__title text__16 adaptive">Выбрать из:</div>
            <IRadio label="Лайков" value="like" v-model="formWinMain.option" />
            <IRadio
              label="Репостов"
              value="repost"
              v-model="formWinMain.option"
            />
            <IRadio
              label="Комментариев"
              value="comment"
              v-model="formWinMain.option"
            />
            <!--          <IRadio label="Авторов" value="author" v-model="formWinMain.option" />-->
          </div>
          <div class="setup__input__checkbox">
            <div class="setup__input__title text__16 adaptive">
              <span class="text__purple">PREMIUM</span> опции
            </div>
            <ICheckbox
              label="Проверка подписки"
              value="subscribe"
              v-model="formWinMain.extra_option_list"
            />
            <ICheckbox
              label="Проверка лайка"
              value="like"
              v-model="formWinMain.extra_option_list"
            />
          </div>
        </div>
        <ButtonLilac
          name="Купить PREMIUM"
          style="white-space: nowrap"
          @click="checkAuthForCallBack(() => (this.showPay = true))"
        />
      </div>
    </div>
    <Loader v-if="waitResponseGeneratorVK" />
    <div
      v-if="!waitResponseGeneratorVK && winners?.checked_profiles?.length"
      class="winner__result"
    >
      <div class="winner__result__title text__h2 adaptive">Победитель</div>
      <div v-if="vk" class="winner__result__profiles">
        <a
          v-for="prof in winners.checked_profiles"
          :key="prof.id"
          :href="`https://vk.com/${prof.profile.screen_name}`"
          target="_blank"
        >
          <div class="checked__profiles" v-if="prof.profile">
            <div class="checked__profiles__avatar">
              <img :src="prof.profile.photo_200_orig" alt="" />
            </div>
            <div class="checked__profiles__info text__16 adaptive text__black">
              <span
                >{{ prof.profile.first_name }}
                {{ prof.profile.last_name }}</span
              >
              <div
                v-if="USER?.premium && clickShowPremium"
                class="text__14 adaptive text__gray3"
              >
                <div v-if="checkExtra('like')">
                  Лайк: {{ prof.options.like ? "да" : "нет" }}
                </div>
                <div v-if="checkExtra('subscribe')">
                  Подписка: {{ prof.options.subscribe ? "да" : "нет" }}
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div v-else class="winner__result__profiles">
        <a
          v-for="prof in winners.checked_profiles"
          :key="prof.id"
          :href="`https://instagram.com/${prof.profile.userName}`"
          target="_blank"
        >
          <div class="checked__profiles" v-if="prof.profile">
            <div class="checked__profiles__avatar">
              <img :src="imageIgBase64(prof.profile.image_base64)" alt="" />
            </div>
            <div class="checked__profiles__info text__16">
              <span>{{ prof.profile.userName }}</span>
              <div v-if="USER.premium && clickShowPremium">
                <div v-if="checkExtra('like')">
                  Лайк: {{ prof.options.like ? "да" : "нет" }}
                </div>
                <div v-if="checkExtra('subscribe')">
                  Подписка: {{ prof.options.subscribe ? "да" : "нет" }}
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <MPayPremium v-if="showPay" @close="showPay = false" />
  </div>
</template>

<script>
import checkAuthForCallBack from "@/mixins/checkAuthForCallBack";
import ButtonLilac from "@/components/ui/button/ButtonLilac";
import IRadio from "@/components/ui/input/IRadio";
import IBase from "@/components/ui/input/IBase";
import ICheckbox from "@/components/ui/input/ICheckbox";
import MPayPremium from "@/components/ui/modal/MPayPremium";
import { mapActions, mapGetters } from "vuex";
import Loader from "@/components/Loader";

export default {
  name: "WinnerVk",
  mixins: [checkAuthForCallBack],
  components: { Loader, MPayPremium, ButtonLilac, IRadio, IBase, ICheckbox },
  data() {
    const formWin = this.$yup.object().shape({
      link: this.$yup.string().required(),
    });
    return {
      showPay: false,
      formWin,
      formWinMain: {
        option: "like",
        extra_option_list: [],
      },
      winners: {},
      waitResponseGeneratorVK: false,
      clickShowPremium: false,
      instagram: false,
      vk: false,
    };
  },
  watch: {
    "formWinMain.extra_option_list"() {
      this.clickShowPremium = false;
    },
  },
  computed: {
    ...mapGetters(["USER_VK", "USER_IG", "USER"]),
  },
  methods: {
    imageIgBase64(image) {
      return `data:image/png;base64, ${image}`;
    },
    checkExtra(string) {
      return this.formWinMain.extra_option_list.find((item) => item === string);
    },
    ...mapActions(["GET_USER_ME_VK", "GET_USER_ME_IG"]),
    async getLinkVK() {
      const data = await this.$api.auth.postAuthLinkVk();
      window.open(data, "_self");
    },
    async getLinkIG() {
      const data = await this.$api.auth.postAuthLinkIG();
      window.open(data, "_self");
    },
    checkWinVk({ link }) {
      this.checkAuthForCallBack(async () => {
        this.clickShowPremium = true;
        this.winners = {};
        this.waitResponseGeneratorVK = true;
        let data;
        if (link.includes("instagram")) {
          this.vk = false;
          data = await this.$api.generator.postGeneratorIg({
            link,
            option: this.formWinMain.option,
            extra_option_list: this.formWinMain.extra_option_list,
          });
        } else {
          this.vk = true;
          data = await this.$api.generator.postGeneratorVk({
            link,
            option: this.formWinMain.option,
            extra_option_list: this.formWinMain.extra_option_list,
          });
        }

        // console.log(data);

        this.waitResponseGeneratorVK = false;

        if (data.checked_profiles) {
          this.winners = data;
        }

        if (data.code === 1 && !this.USER?.vk_id)
          this.$toast("Необходима авторизация VK или попробуйте еще раз");

        if (data.code === 1 && data.status === 401 && this.USER.vk_id) {
          await this.checkWinVk({ link });
        }

        if (data.code === 0) {
          this.$toast(data.message);
        }

        if (data?.length) {
          for (let item of data) {
            this.$toast(item.message);
          }
        }
      });
    },
    async logoutVK() {
      const data = await this.$api.auth.logoutVk();
      if (data) await this.GET_USER_ME_VK();
    },
    async logoutIG() {
      const data = await this.$api.auth.logoutIg();
      if (data) await this.GET_USER_ME_IG();
    },
  },
};
</script>

<style lang="scss" scoped>
.winner__link {
  max-width: 600px;
  width: 100%;

  .winner__link__item {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 12px;
    align-items: start;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    &:first-child {
      margin: 0 0 12px;
    }
  }

  label {
    width: 100%;
  }
  .setup__input {
    @include disflex(flex, stretch, flex-start);
    text-align: left;
    gap: 30px;

    &__title {
      margin: 0 0 12px;
    }
    &__checkbox {
      display: flex;
      flex-direction: column;
    }
    &__radio,
    &__checkbox {
      label {
        margin: 0 0 4px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.account__vk,
.account__ig {
  @include disflex(flex, stretch, center);
  img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 4px 0 0;
  }
}

.button__auth__vk {
}

.button__vk,
.button__ig {
  position: relative;
  border-radius: 3px;
  padding: 2px 5px 2px 4px;
  color: #fff;
  cursor: pointer;
}

.button__vk {
  background: rgb(0, 119, 255);
}

.button__ig {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}

.winner__result {
  margin: 20px 0 0;
  &__title {
    margin: 0 0 16px;
  }
  &__profiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    justify-items: center;
  }
}

.checked__profiles {
  @include disflex(flex, stretch, center);
  &__avatar {
    flex: 0 1 100px;
    margin: 0 8px 0 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    span {
      display: block;
    }
  }
}

.accounts__exit {
  div:last-child,
  button:last-child {
    margin: 10px 0 0;
  }
}
</style>
