<template>
  <div class="wrapper">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
import resize from "@/mixins/resize";
import yandex from "@/mixins/metrica/yandex";
export default {
  mixins: [resize, yandex],
  computed: {
    layout() {
      return this.$route.meta.layout || "DefaultLayout";
    },
  },
};
</script>

<style lang="scss">
@import "./assets/scss/index";

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    #7f2ba1 0%,
    rgba(246, 246, 247, 0) 30.17%
  );
}
</style>
